<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="vApus.RPCServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <vApus.RPCServer.Properties.Settings>
            <setting name="apikey" serializeAs="String">
                <value>e13ed3a8-3645-48f8-b59a-086f16fac2e4</value>
            </setting>
        </vApus.RPCServer.Properties.Settings>
    </userSettings>
</configuration>