/*
/ Created by Glenn Desmadryl for vApus
/ Copyright Sizing Servers Lab
/ www.sizingservers.be
*/

body {
    background-color: #E6E6E6;
    color: #000000;
    font-family: Georgia, "Times New Roman", serif;
}

/* no borders for all images */

img { border-style: none; }
        
/******************/
/***   Header  ****/  
/******************/

#header {
    /* Dropshadow */
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    background-color: #727272;
    border-color: #000000;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 5px 5px 5px #888;

    color: #FFFFFF;
    height: 80px;
    margin-bottom: 30px;
}

#headerTitle {
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-top: 30px;
    width: 500px;
}

#vApusLogo { position: absolute; }

/******************/
/***   Content ****/  
/******************/

#content {
    /* Dropshadow */
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    background-color: #FFFFFF;
    border-color: #000000;
    border-radius: 10px;

    border-style: solid;
    border-width: 1px;
    box-shadow: 5px 5px 5px #888;
}

#contentHeader {
    background-color: #727272;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;

    height: 20px;
    padding-left: 15px;
}

/******************/
/***   Menu    ****/  
/******************/

#menu {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

ul { list-style-type: none; }

li { margin-bottom: 10px; }

span .indent { padding-left: 20px; }

/******************/
/***CSS Tooltips***/  
/******************/

a:active {
    position: relative;
    text-decoration: none;
}

a:focus {
    position: relative;
    text-decoration: none;
}

a .tooltip {
    display: none;
    width: 520px;
}

a:active .tooltip {
    /* Dropshadow */
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    background-color: #F7EFB6;
    border-color: #000000;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 5px 5px 5px #888;

    color: #000000;
    display: block;
    font-size: 13px;
    left: 0px;

    padding: 5px;
    position: absolute;
    top: -40px;
}

a:focus .tooltip {
    /* Dropshadow */
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    background-color: #F7EFB6;
    border-color: #000000;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 5px 5px 5px #888;

    color: #000000;
    display: block;
    font-size: 13px;
    left: 0px;

    padding: 5px;
    position: absolute;
    top: -40px;
}

.tooltipHeader {
    font-size: 14px;
    font-weight: bold;
}

/******************/
/****  Footer *****/  
/******************/

#footer {
    color: #525252;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 650px;
}