<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="vApus.Publish.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="vApus.Output.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <vApus.Publish.Properties.Settings>
            <setting name="TcpHost" serializeAs="String">
                <value />
            </setting>
            <setting name="PublishTestsConfiguration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishMonitorsConfiguration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishTestsFastConcurrencyResults" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishMonitorsHardwareConfiguration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishMonitorsMetrics" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishTestsFastRunResults" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishTestsMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishTestsClientMonitoring" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TcpOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublisherEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MessageLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PublishApplicationLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TcpPort" serializeAs="String">
                <value>3337</value>
            </setting>
            <setting name="PublishTestRequestResults" serializeAs="String">
                <value>False</value>
            </setting>
        </vApus.Publish.Properties.Settings>
        <vApus.Output.Properties.Settings>
            <setting name="JSONBroadcastPort" serializeAs="String">
                <value>3337</value>
            </setting>
            <setting name="TSVFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="JSONFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="PublishTestsConfiguration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishMonitorsConfiguration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishTestsFastConcurrencyResults" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishMonitorsHardwareConfiguration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishMonitorsMetrics" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishTestsFastRunResults" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishTestsMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishTestsClientMonitoring" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseTSVFileOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseJSONFileOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseJSONBroadcastOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublisherEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </vApus.Output.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
